:root {
    --primary-color: #2b95db;
    --secondary-color: #808080;
    --text-color: #252525;
    --white: #ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    color: var(--text-color);
    background-color: #adadad;
}
