:root {
    --primary-color: #2b95db;
    --secondary-color: #808080;
    --text-color: #252525;
    --white: #ffffff;
}

*{
    margin:5px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Segoe UI', Trebuchet MS', sans-serif;
}

body{
    color: var(--text-color);
    background-color: #adadad;
}

table, th, td {
    padding: 5px;
    border: 2px solid var(--text-color);
    border-collapse: collapse;
}

.card{
    background: var(--white);
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.1);
    border-top: 5px solid var(--primary-color);
}

header{
    background-color: var(--secondary-color);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color:var(--white);
    text-decoration: none;
}


.slider-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
}

.slider-track {
    display: flex;
    align-items: start;
    width: max-content;
    background: var(--white);
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.1);
    border-top: 5px solid var(--primary-color);
}

.slider-item {
    white-space: normal; /* Allow text to wrap */
    flex-shrink: 0;
    max-width: 300px;
    align-items: start;
    justify-content: start;
    margin: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    padding: 25px;
    width: 90%;
    max-width: 400px;
}

dialog::backdrop {
    background: rgba(0,0,0,0.5)
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

closeModalBtn {
    background-color: #6c757d;
}

button:hover {
    background-color: #0045b3;
}

.date {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px;
    }
}
