:root {
    --primary-color: #2b95db;
    --secondary-color: #808080;
    --text-color: #252525;
    --white: #ffffff;
}

*{
    margin:5px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    color: var(--text-color);
    background-color: #adadad;
}

.card{
    background: var(--white);
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-top: 5px solid var(--primary-color);
}

header{
    background-color: var(--secondary-color);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color:var(--white);
    text-decoration: none;
}
